* { 
  box-sizing: border-box;
}

html { 
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #f3f3f3;
}